<nav class="navbar bg-body-tertiary">
  {{#unless user}}
  <div class="container-fluid justify-content-start">
    <a href="/login">
      <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
    </a>
    <a href="/register">
      <button class="btn btn-sm btn-outline-secondary" type="button">Register</button>
    </a>
  </div>
  {{/unless}}
</nav>