{{#>layout}}
{{#unless user}}
{{#if messages.success}}
<div class="alert alert-success text-center" role="alert">
    {{messages.success}}
</div>
{{/if}}
{{#if messages.error}}
<div class="alert alert-danger text-center" role="alert">
    {{messages.error}}
</div>
{{/if}}
<h1 class="text-center mb-5 mt-5"><b>Welcome back! Please Login</b></h1>
<form id="login-from" class='auth-form' method="post" action='/auth-login' onsubmit='form(event)'>
    <div class='form-field'>
        <input type='email' id='email' name="email" required placeholder="email" />
    </div>
    <div class='form-field'>
        <input type='password' id='password' name="password" required placeholder="password" />
    </div>
    <div class='text-center mt-3'>
        <button class='btn btn-dark' type='submit'>LOGIN</button>
    </div>
    <p class="text-start mt-3 mb-5">Dont have an account? <a href="/register" class="text-primary">Sign Up</a></p>
    <style>
        .auth-form p {
            color: white;
        }

        .auth-form p a:hover {
            text-decoration: underline !important;
        }
    </style>
</form>
{{/unless}}
{{#if user}}
<p class="text-center text-success">You're already logged in</p>
{{/if}}

{{/layout}}