{{#>layout}}
<p class="collections-text m-5 ">Collections</p>

<div class="container-collections mx-5" onclick="">
    {{#each collections}}

    <div class="collections">
        <a href="/collection/{{this.id}}">
            <img class="task-image" src="/assets/img/task.png" alt="">
            <div class="inside-collections" style="display: flex;">
                <div>
                    <h4>{{this.name}}</h4>
                    <span>{{this.TaskCompleted}}/{{this.TaskTotal}} Done</span>
                </div>
                {{#unless (eq TaskCompleted TaskTotal)}}
                <img src="/assets/img/clock.png" class="ms-auto">
                {{/unless}}
                {{#if (eq TaskCompleted TaskTotal)}}
                <img src="/assets/img/check.png" class="ms-auto " alt="">
                {{/if}}
            </div>
        </a>
    </div>
    {{/each}}
    {{#if user}}
    <div class="collections">
        <a href="" class="add-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="/assets/img/plus.png" alt="">
        </a>
    </div>
    {{/if}}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Collection</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/addcollection" method="post">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Collection Name</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="mb-3 text-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Collection</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{{/layout}}